@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "poppins", sans-serif;
}
body {
  font-size: 16px;
  margin: 0;
  background-color: #87a5f8;
  height: 100vh;
}

.voice_to_text {
  width: auto;
  text-align: center;
}

.text_to_voice {
  width: auto;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 50px;
}
#convert_text {
  width: 50%;
  height: 200px;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}
.button1 {
  width: 50%;
  padding: 14px 14px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #6e93f7;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}

button:hover {
  background: #4070f4;
}
.container1 {
  display: flex;
  align-items: center;
  background-color: #87a5f8;
  justify-content: center;
  padding: 0 10px;
  border-radius: 12px;
  height: 100vh;
}

header {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  text-align: center;
}
textarea {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  margin: 20px 0;
  padding: 10px 15px;
  resize: none;
  outline: none;
  border: 1px solid #aaa;
}

.oneimage {
  background-image: url("clark-young-QdRnZlzYJPA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.twoimage {
  background-image: url("pexels-ds-stories-6991391.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.threeimage {
  background-image: url("nadi-borodina-gETBUi_oRgQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

#navbar1 {
  position: fixed;
  top: 0;
  width: 100%;
}

.header1 {
  font-size: 30px;
  padding-bottom: 4px;
  color: rgba(196, 196, 196, 0.493);
}

.header2 {
  font-size: 30px;
  padding-bottom: 4px;
  color: rgba(0, 0, 0, 0.726);
}

.header3 {
  font-size: 30px;
  padding-bottom: 4px;
  color: rgb(0, 0, 0);
}
